body {
	color: var(--color-white);
	background-color: var(--color-grey-1);
}

main {
	padding: 0px 15rem;
}

.head {
	display: flex;
	align-items: center;
	column-gap: 2rem;

	padding: 3rem 0px;
}

.head img {
	width: 100px;
	border: 3px solid var(--color-pink);
	border-radius: 50%;
}

.nome-bio {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.nome-bio p {
	width: 40ch;
}

.content-btn-prof {
	margin-left: auto;

	display: flex;

	column-gap: 1rem;
}

.content-btn-prof a {
	cursor: pointer;
	display: flex;
	align-items: center;

	color: var(--color-grey-6);
	text-decoration: none;

	padding: 0.75rem 1rem;
	border-radius: 0.3rem;
	background-color: var(--color-grey-3);

	transition: all 0.3s ease;
}

.content-btn-prof a:hover {
	border-color: var(--color-pink);
	background-color: var(--color-pink);
}

.content-btn-prof a:visited {
	color: var(--color-grey-6);
}
